.layout {
    display: flex;
    height: 100vh;
}

.right-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.content {
    flex: 1;
    padding: 20px;
    background: #ffffff;
}

.page-title, .title-contato {
    font-size: 1.6em;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.363);
}

.title-contato {
    font-size: 2em;
}

.form-row {
    display: flex;
    margin-top: 25px;
    gap: 150px;
    margin-left: 0px;
}

.form-input {
    border-radius: 15px;
    height: 30px;
    width: 250px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
    font-size: 0.95rem;
    text-align: center;
}

.linha-secao {
    background-color: #000000;
    height: 1px;
    border: none;
}